@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Tanker-Regular';
    src: url('./Tanker-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

:root {
    font-family: 'Inter', 'sans-serif';
    --yellow: #FFE01B;
}

html {
    margin: 0;
    padding: 0;
}