@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Tanker-Regular';
    src: url('./Tanker-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

:root {
    font-family: 'Inter', 'sans-serif';
    --yellow: #FFE01B;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 90%;
    height: 80px;
    padding: 0 100px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, .70);  
    backdrop-filter: blur(10px);
}

.navbar > .tabs > button, .navbar, .nav-btns > button {
    font-family: 'Tanker-Regular';
    font-size: 2rem;
}

.tabs {
    display: flex;
    gap: 1rem;
    flex: auto;
}

.tabs button {
    border: 0;
    background: none;
}

.nav-btns {
    display: flex;
    gap: 1rem;

    > button {
        color: black;
        background: var(--yellow);
        border: 0;
        padding: 0 1rem;
    }
}

.hero {
    height: 150vh;
    background: var(--yellow);
    display: flex;
    align-items: center;

    > h1 {
        font-family: 'Tanker-Regular';
        font-size: 8rem;
        margin: 0;
        width: 60%;
    }
}